<div class="color-picker">
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{ heading }}</p>
      <p class="style-value">{{ color }}</p>
    </div>

    <div class="circle"><img style="height: inherit;" src="{{BASE_URL+color+FILE_CONFIG}}"></div>
  </div>

  <div *ngIf="show" class="opened">
    <div class="colors centered">
      <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle"
        [ngStyle]="{'background': paint}">
        <img class="icon" src="{{BASE_URL+paint+FILE_CONFIG}}">
      </div>
    </div>

    <div class="bottom-opened">
      <button class="btn" (click)="bwClicked()">B/W</button>
      <button class="btn" (click)="colorClicked()">Color</button>
    </div>

  </div>
</div>